<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Success Account</title>
    <link rel="stylesheet" href="./src/success.css">
</head>
<body>
    <div class=content>
        <div class="wrapper-1">
            <div class="wrapper-2">
                <h1>Thank you !</h1>
                <p>Your account active </p>
                <button class="go-home"  onclick="document.location='index.html'">
                 go home
                </button>

          </div>
     </div>
    </div>


<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
</body>