<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Success Account</title>
    <link th:href="@{/styles/cssandjs/success.css}" rel="stylesheet" />

</head>
<body>
<div class=success >
    <div class="wrapper-1">
        <div class="wrapper-2">
            <h1>Thank you !</h1>
            <p>Your account is activated</p>
            <p>You can log in your account</p>
            <button class="go-home"  onclick="document.location='http://localhost:8082/forum'">
                Go to log in
            </button>

        </div>
    </div>
</div>


<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
</body>
</html>>