<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="#323233" />
    <title>Users</title>
    <link rel="stylesheet" media="all" type="text/css" th:href="@{/styles/cssandjs/index.css}">
</head>
<body>
    <div class="wrapper">
        <section class="no-auth-page-section">
            <header class="psy-header no-auth transparent">
                <div class="container-xl psy-header-content">
                    <div class="psy-header-left-content">
                        <a class="logo" href="index.html">
                            <span>ASKME</span>
                        </a>
                        <ul class="navbar">
                            <li class="categories navbar-item hide"><a th:href="@{/categories}">Categories</a></li>
                            <li class="mnAdmins navbar-item hide"><a th:href="@{/admins}">Admins</a></li>
                            <li class="mnUsers navbar-item hide"><a th:href="@{/users}">Users</a></li>
                            <li class="mnPosts-for-approval navbar-item hide">
                                <a th:href="@{/postsforapproval}">Posts For Approval</a>
                            </li>
                            <li class="mnMy-posts navbar-item hide"><a th:href="@{/myposts}">My Posts</a></li>
                            <li class="mnPosts navbar-item hide"><a th:href="@{/posts}">Posts</a></li>
                        </ul>
                    </div>
                    <div class="header-right-content-auth">
                        <div class="actions">
                            <ul class="actions-right header-no-auth hide">
                                <li>
                                    <button class="psy-btn secondary-dark thick transparent psy-popup-show-btn"
                                            data-popup-name="login">
                                        <span class="psy-btn-text">Login</span>
                                    </button>
                                </li>
                                <li>
                                    <button class="psy-btn primary thick psy-popup-show-btn" data-popup-name="registr"
                                            data-type="standard">
                                        <span class="psy-btn-text">Get Started</span>
                                    </button>
                                </li>
                            </ul>
                            <ul class="actions-right header-is-auth hide">
                                <li><span class="head-fullname"></span></li>
                                <li>
                                    <button class="psy-btn primary thick header-logout" data-type="standard">
                                        <span class="psy-btn-text">Log out</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </section>
        <section class="grid">
            <div class="container-xxl">
                <div class="head">
                    <h2 class="title">My Posts</h2>
                    <div class="bt-actions">
                        <input type="hidden" class="row-id" value="0" />
                        <button class="psy-btn primary hide thick psy-popup-show-btn descr-forum" data-popup-name="postdescription" data-type="standard">
                            <span class="psy-btn-text">Description</span>
                        </button>
                        <button class="psy-btn primary hide thick approve-forum">
                            <span class="psy-btn-text">To Public</span>
                        </button>
                        <button class="psy-btn primary hide thick privet-forum">
                            <span class="psy-btn-text">To Privet</span>
                        </button>
                        <button class="psy-btn primary thick psy-popup-show-btn create-forum" data-popup-name="createpost" data-type="standard">
                            <span class="psy-btn-text">Create</span>
                        </button>
                    </div>
                </div>
                <div class="table">
                    <div class="th th-left-radius">Category</div>
                    <div class="th">Title</div>
                    <div class="th">LocalDateTime</div>
                    <div class="th">Status</div>
                    <div class="th navigation"></div>
                </div>
                <div class="row-data">
                </div>
            </div>
        </section>
        <footer class="psy-footer">
            <div class="container-xxl">
                <div class="reserved-rights">
                    <p>© 2022 AskMe. All rights reserved</p>
                </div>
            </div>
        </footer>
    </div>
    <div class="psy-popup hide-only-cancel popup-width-424" data-popup="postdescription">
        <div class="popup-content-750">
            <div class="popup-head">
                <span class="empty-column"></span>
                <span class="psy-popup-cat"></span>
                <div class="psy-popup-close-btn icon" data-popup-name="postdescription">
                    <img th:src="@{/images/close.svg}" class="close-popup-icon" alt="Close">
                </div>
            </div>
            <p class="psy-popup-title popup-title">Post Description</p>
            <p class="post-descr"></p>
        </div>
    </div>

    <div class="psy-popup hide-only-cancel popup-width-500" data-popup="createpost">
        <div class="popup-content">
            <div class="popup-head">
                <span class="empty-column"></span>
                <span>ASKME</span>
                <div class="psy-popup-close-btn icon" data-popup-name="createpost">
                    <img  th:src="@{/images/close.svg}" class="close-popup-icon" alt="Close">
                </div>
            </div>
            <p class="psy-popup-title">Create Post</p>
            <form id="form-createpost" autocomplete="off" action="myposts.html" method="post">
                <div>
                    <div class="input-wrap w-100 p-top-24">
                        <label class="title">Category *</label>
                        <div class="content m-top-4">
                            <select class="cat-option" name="category">
                            </select>
                        </div>
                    </div>
                    <div class="input-wrap has-right-i w-100 p-top-16">
                        <label class="title">Title *</label>
                        <div class="content m-top-4">
                            <input type="text" placeholder="Title" name="title" autocomplete="off">
                        </div>
                    </div>
                    <div class="input-wrap has-right-i w-100 p-top-16">
                        <label class="title">Description *</label>
                        <div class="content m-top-4">
                            <textarea class="h-139 w-100" name="description" placeholder="Description" autocomplete="off"></textarea>
                        </div>
                    </div>
                </div>
                <div style="margin-top:100px;">
                    <p class="error"></p>
                    <button class="psy-btn psy-btn-loader primary thick w-100" type="submit">
                        <span class="psy-btn-text">Create</span>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <script type="text/javascript" th:src="@{/js/cssandjs/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/cssandjs/index.js}"></script>
</body>
</html>